@charset "UTF-8";
.breadcrumbs {
  position: relative;
  margin-bottom: 25px;
}

.breadcrumbs ul li {
  position: relative;
  display: inline-block;
  color: #8d908b;
  font-size: 14px;
  margin-right: 5px;
}

.breadcrumbs ul li a {
  position: relative;
  color: #01569e;
  margin-right: 20px;
}

.breadcrumbs ul li a:after {
  content: '→';
  position: absolute;
  right: -20px;
}

.breadcrumbs ul li:first-child a {
  margin-left: 20px;
}

.breadcrumbs ul li:first-child a:before {
  content: url("../img/icons/home.png");
  position: absolute;
  left: -20px;
}

.product-block {
  position: relative;
  display: table;
  width: 100%;
  margin-bottom: 40px;
}

.product-left {
  position: relative;
  display: table-cell;
  vertical-align: top;
  width: 320px;
  box-sizing: border-box;
}

.product-big-img {
  position: relative;
  height: 380px;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  margin-bottom: 5px;
  overflow: hidden;
  box-sizing: border-box;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.product-big-img:hover {
  border-color: #959595;
}

.product-big-img img {
  max-width: 100%;
}

.product-small-img {
  position: relative;
}

.product-small-img .bx-wrapper {
  margin: 0 auto;
}

.product-small-img .bx-wrapper ul li {
  position: relative;
  width: 80px;
  height: 100px;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  overflow: hidden;
  cursor: pointer;
  box-sizing: border-box;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.product-small-img .bx-wrapper ul li:hover {
  border-color: #959595;
}

.product-small-img .bx-wrapper ul li img {
  max-height: 100%;
}

.product-small-img .bx-wrapper .bx-controls a {
  position: absolute;
  background: #e1e1e1;
  top: 0;
  width: 25px;
  height: 100px;
  color: transparent;
  font-size: 0;
  border-radius: 3px;
}

.product-small-img .bx-wrapper .bx-controls a.bx-prev {
  left: 0;
}

.product-small-img .bx-wrapper .bx-controls a.bx-prev:before {
  content: url("../img/icons/arr-left.png");
  margin-left: -5px;
}

.product-small-img .bx-wrapper .bx-controls a.bx-next {
  right: 0;
}

.product-small-img .bx-wrapper .bx-controls a.bx-next:before {
  content: url("../img/icons/arr-right.png");
}

.product-small-img .bx-wrapper .bx-controls a:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -8px;
  margin-left: -4px;
}

.product-right {
  position: relative;
  display: table-cell;
  vertical-align: top;
  padding-left: 5.7%;
  box-sizing: border-box;
}

.product-title {
  position: relative;
  color: #3d3c3c;
  font-size: 28px;
  text-transform: uppercase;
  margin-top: -10px;
  margin-bottom: 30px;
}

.product-property {
  position: relative;
}

.property-row {
  position: relative;
  display: table;
  width: 100%;
  margin-bottom: 30px;
}

.property-col {
  position: relative;
  display: table-cell;
  vertical-align: top;
  color: #000;
}

.property-col:first-child {
  width: 140px;
  padding-top: 4px;
}

.property-color {
  position: relative;
  font-size: 0;
}

.property-color span {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 34px;
  height: 32px;
  border-radius: 4px;
  margin-right: 5px;
  margin-bottom: 10px;
  cursor: pointer;
  box-sizing: border-box;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.property-color span.color-white {
  box-shadow: inset 0 0 0 1px #e0e0e0;
}

.property-color span:hover, .property-color span.active {
  box-shadow: inset 0 0 0 1px #959595;
}

.property-size {
  position: relative;
  font-size: 0;
}

.property-size span {
  position: relative;
  display: inline-block;
  vertical-align: top;
  min-width: 44px;
  color: #000;
  font-size: 14px;
  line-height: 32px;
  text-align: center;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  padding: 0 3px;
  margin-right: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.property-size span:hover, .property-size span.active {
  border-color: #959595;
}

.size-link {
  position: relative;
}

.size-link a {
  font-size: 15px;
  text-align: center;
  box-shadow: 0 1px 0 #b1b1b1;
  border-radius: 15px;
  padding: 6px 32px;
  background: #1b67a8;
  /* Old browsers */
  background: -moz-linear-gradient(top, #1b67a8 0%, #014e8e 100%);
  /* FF3.6-15 */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1b67a8), color-stop(100%, #014e8e));
  /* Chrome4-9,Safari4-5 */
  background: -webkit-linear-gradient(top, #1b67a8 0%, #014e8e 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: -o-linear-gradient(top, #1b67a8 0%, #014e8e 100%);
  /* Opera 11.10-11.50 */
  background: -ms-linear-gradient(top, #1b67a8 0%, #014e8e 100%);
  /* IE10 preview */
  background: linear-gradient(to bottom, #1b67a8 0%, #014e8e 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.size-link a:hover {
  background: #014e8e;
  /* Old browsers */
  background: -moz-linear-gradient(top, #014e8e 0%, #1b67a8 100%);
  /* FF3.6-15 */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #014e8e), color-stop(100%, #1b67a8));
  /* Chrome4-9,Safari4-5 */
  background: -webkit-linear-gradient(top, #014e8e 0%, #1b67a8 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: -o-linear-gradient(top, #014e8e 0%, #1b67a8 100%);
  /* Opera 11.10-11.50 */
  background: -ms-linear-gradient(top, #014e8e 0%, #1b67a8 100%);
  /* IE10 preview */
  background: linear-gradient(to bottom, #014e8e 0%, #1b67a8 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.product-desc {
  position: relative;
  color: #646464;
  font-size: 15px;
  margin-bottom: 20px;
}

.product-button {
  position: relative;
}

.product-button .button {
  font-size: 15px;
  box-shadow: 0 2px 0 #be442d;
  padding: 12px 44px;
}

.product-additionally {
  position: relative;
  margin-bottom: 50px;
}

.additionally-tabs {
  position: relative;
  display: table;
  width: 100%;
}

.additionally-tabs .tabs-box {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  width: 33.3%;
  padding-left: 10px;
  box-sizing: border-box;
}

.additionally-tabs .tabs-box:first-child {
  padding-left: 0;
}

.additionally-tabs .tabs-box .tabs-text {
  position: relative;
  display: table;
  width: 100%;
  background: #e1e1e1;
  color: #01569e;
  font-size: 18px;
  font-weight: 600;
  line-height: 23px;
  border-radius: 3px 3px 0 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.additionally-tabs .tabs-box .tabs-text span {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  height: 50px;
  padding: 0 20px;
  cursor: pointer;
}

.additionally-tabs .tabs-box:hover .tabs-text, .additionally-tabs .tabs-box.active .tabs-text {
  background: #ededed;
}

.additionally-block {
  position: relative;
  background: #ededed;
}

.additionally-box {
  position: relative;
  display: none;
  padding: 20px 30px;
}

.additionally-box.active {
  display: block;
}

.scheme-work {
  position: relative;
  font-size: 0;
}

.scheme-box {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 25%;
  text-align: center;
  margin-bottom: 15px;
  box-sizing: border-box;
}

.scheme-head {
  position: relative;
}

.scheme-img {
  background: #01569e;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin: 0 auto 15px;
  overflow: hidden;
}

.scheme-img img {
  max-width: 100%;
}

.scheme-body {
  position: relative;
  color: #646464;
  font-size: 14px;
  padding: 0 5px;
  overflow: hidden;
}

.scheme-num {
  position: relative;
  float: left;
  color: #d2d2d2;
  font-size: 40px;
  line-height: 38px;
}

.warranty-box {
  position: relative;
  display: table;
  width: 100%;
  margin: 10px 0 20px;
}

.warranty-head {
  position: relative;
  display: table-cell;
  vertical-align: top;
  width: 90px;
}

.warranty-img {
  position: relative;
  background: #01569e;
  width: 90px;
  height: 90px;
  text-align: center;
  border-radius: 50%;
  overflow: hidden;
}

.warranty-img img {
  max-width: 100%;
}

.warranty-body {
  position: relative;
  display: table-cell;
  vertical-align: top;
  padding-left: 4.3%;
}

.warranty-title {
  position: relative;
  color: #000;
  font-size: 18px;
  margin-bottom: 10px;
}

.warranty-text {
  position: relative;
  color: #646464;
  font-size: 14px;
}

.delivery {
  color: #646464;
  font-size: 15px;
}

.delivery p {
  margin-bottom: 15px;
}

.related-products {
  margin-left: 0;
}

.related-products .product_block {
  width: 100%;
  margin: 0;
  box-sizing: border-box;
}

#order-product {
  max-width: 910px;
}

#order-product .blank {
  text-align: right;
}

#order-product .blank a {
  color: #797979;
}

#order-product .button {
  width: 160px;
  height: 44px;
}

#table-size {
  width: 910px;
}

#table-size table {
  width: 100%;
}

#table-size table thead tr td, #table-size table thead tr th {
  background: #01569e;
  height: 46px;
  color: #fff;
  font-weight: 400;
}

#table-size table thead tr td:first-child, #table-size table thead tr th:first-child {
  border-radius: 3px 0 0 3px;
}

#table-size table thead tr td:first-child:before, #table-size table thead tr th:first-child:before {
  content: none;
}

#table-size table thead tr td:last-child, #table-size table thead tr th:last-child {
  border-radius: 0 3px 3px 0;
}

#table-size table thead tr td:before, #table-size table thead tr th:before {
  content: '';
  position: absolute;
  background: rgba(255, 255, 255, 0.1);
  left: 0;
  top: 25%;
  width: 1px;
  height: 50%;
}

#table-size table tbody tr td {
  height: 30px;
  color: #3d3c3c;
}

#table-size table tr td, #table-size table tr th {
  position: relative;
  vertical-align: middle;
  text-align: center;
  padding: 0 10px;
}

.table-wrap {
  position: relative;
}

.news-block {
  position: relative;
}

.news-box {
  position: relative;
  display: table;
  width: 100%;
  background: #efefef;
  border-radius: 4px;
  padding: 5px;
  margin-bottom: 25px;
  box-sizing: border-box;
}

.news-head {
  position: relative;
  display: table-cell;
  vertical-align: top;
  width: 300px;
  height: 270px;
  line-height: 0;
  overflow: hidden;
}

.news-head img {
  max-width: 100%;
}

.news-body {
  position: relative;
  display: table-cell;
  vertical-align: top;
  padding: 20px 5px 20px 25px;
  box-sizing: border-box;
}

.news-title {
  position: relative;
  font-size: 21px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.news-title a {
  color: #01569e;
  text-decoration: none;
}

.news-title a:hover {
  text-decoration: underline;
}

.news-date {
  position: relative;
  color: #a9a9a9;
  font-size: 15px;
  font-style: italic;
  margin-bottom: 10px;
}

.news-text {
  position: relative;
  color: #646464;
  font-size: 15px;
  line-height: 22px;
}

.pagers {
  position: relative;
  font-size: 0;
  text-align: center;
}

.pagers ul li {
  position: relative;
  display: inline-block;
  color: #fff;
  font-size: 16px;
  width: 26px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  border-radius: 50%;
}

.pagers ul li a {
  color: #3d3c3c;
}

.pagers ul li.prev-page, .pagers ul li.next-page {
  margin: 0 10px;
}

.pagers ul li.prev-page a, .pagers ul li.next-page a {
  font-size: 20px;
  text-decoration: none;
}

.pagers ul li.page-dots a {
  text-decoration: none;
}

.pagers ul li.active {
  background: #01569e;
}

.about-block {
  position: relative;
  overflow: hidden;
}

.about-block img {
  max-width: 100%;
  border-radius: 3px;
}

.about-block p {
  margin-bottom: 10px;
}

.about-img {
  position: relative;
  float: left;
  width: 440px;
  margin: 0 25px 25px 0;
}

.search-block {
  position: relative;
}

.search-result {
  position: relative;
  color: #01569e;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 15px;
}

.search-box {
  position: relative;
  display: table;
  width: 100%;
  margin-bottom: 20px;
}

.search-head {
  position: relative;
  display: table-cell;
  vertical-align: top;
  width: 46px;
}

.search-num {
  position: relative;
  width: 46px;
  height: 46px;
  color: #3a6196;
  font-size: 20px;
  font-weight: 700;
  line-height: 46px;
  text-align: center;
  border-radius: 50%;
  overflow: hidden;
  background: #ffffff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #e6e6e6 100%);
  /* FF3.6-15 */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #e6e6e6));
  /* Chrome4-9,Safari4-5 */
  background: -webkit-linear-gradient(top, #ffffff 0%, #e6e6e6 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: -o-linear-gradient(top, #ffffff 0%, #e6e6e6 100%);
  /* Opera 11.10-11.50 */
  background: -ms-linear-gradient(top, #ffffff 0%, #e6e6e6 100%);
  /* IE10 preview */
  background: linear-gradient(to bottom, #ffffff 0%, #e6e6e6 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.search-body {
  position: relative;
  display: table-cell;
  vertical-align: top;
  padding: 10px 0 0 15px;
  box-sizing: border-box;
}

.search-title {
  position: relative;
  margin-bottom: 5px;
}

.search-title a {
  color: #3d3c3c;
  font-size: 16px;
}

.search-text {
  position: relative;
  color: #646464;
  font-size: 15px;
  line-height: 23px;
  margin-bottom: 5px;
}

.search-path {
  position: relative;
  color: #646464;
  font-size: 15px;
}

.search-path ul {
  display: inline-block;
  vertical-align: top;
}

.search-path ul li {
  position: relative;
  display: inline-block;
  color: #8d908b;
  font-size: 14px;
  margin-right: 5px;
}

.search-path ul li a {
  position: relative;
  color: #0068b4;
  margin-right: 20px;
  text-decoration: none;
}

.search-path ul li a span:hover {
  text-decoration: underline;
}

.search-path ul li a:after {
  content: '→';
  position: absolute;
  right: -20px;
}

.production-block {
  position: relative;
}

.production-subtitle {
  position: relative;
  color: #646464;
  font-size: 15px;
  line-height: 23px;
  text-align: center;
  margin-bottom: 40px;
}

.production-list {
  position: relative;
  display: table;
  width: 100%;
  margin-bottom: 50px;
}

.production-box {
  position: relative;
  display: table-cell;
  vertical-align: top;
  width: 33.34%;
  padding-left: 20px;
  box-sizing: border-box;
}

.production-box:first-child {
  padding-left: 0;
}

.production-box ul li {
  position: relative;
  color: #646464;
  font-size: 15px;
  padding-left: 30px;
  margin-bottom: 10px;
}

.production-box ul li:before {
  content: url("../img/icons/list_check.png");
  position: absolute;
  left: 0;
  top: 0;
}

.production-title {
  position: relative;
  color: #01569e;
  font-size: 18px;
  font-weight: 600;
  line-height: 23px;
  margin-bottom: 15px;
}

.production-slider-wrap {
  position: relative;
}

.production-slider-wrap:before {
  content: '';
  position: absolute;
  background: url("../img/icons/b-left.jpg") 0 0 repeat-y;
  left: 0;
  top: 0;
  width: 16px;
  height: 100%;
  z-index: 1;
}

.production-slider-wrap:after {
  content: '';
  position: absolute;
  background: url("../img/icons/b-top.jpg") 0 0 repeat-x;
  left: 0;
  top: 0;
  height: 16px;
  width: 100%;
  z-index: 1;
}

.production-slider {
  position: relative;
}

.production-slider:before {
  content: '';
  position: absolute;
  background: url("../img/icons/b-left.jpg") 0 0 repeat-y;
  right: 0;
  top: 0;
  width: 16px;
  height: 100%;
  z-index: 1;
}

.production-slider:after {
  content: '';
  position: absolute;
  background: url("../img/icons/b-top.jpg") 0 0 repeat-x;
  left: 0;
  bottom: 0;
  height: 16px;
  width: 100%;
  z-index: 1;
}

.production-slider ul li {
  line-height: 0;
}

.production-slider ul li img {
  max-width: 100%;
}

.production-slider .bx-controls {
  position: static;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  height: 0;
}

.production-slider .bx-controls a {
  position: absolute;
  top: 50%;
  width: 51px;
  height: 51px;
  color: transparent;
  font-size: 0;
  margin-top: -25px;
  border-radius: 50%;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: #1b67a8;
  /* Old browsers */
  background: -moz-linear-gradient(top, #1b67a8 0%, #014e8e 100%);
  /* FF3.6-15 */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1b67a8), color-stop(100%, #014e8e));
  /* Chrome4-9,Safari4-5 */
  background: -webkit-linear-gradient(top, #1b67a8 0%, #014e8e 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: -o-linear-gradient(top, #1b67a8 0%, #014e8e 100%);
  /* Opera 11.10-11.50 */
  background: -ms-linear-gradient(top, #1b67a8 0%, #014e8e 100%);
  /* IE10 preview */
  background: linear-gradient(to bottom, #1b67a8 0%, #014e8e 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.production-slider .bx-controls a:hover {
  background: #014e8e;
  /* Old browsers */
  background: -moz-linear-gradient(top, #014e8e 0%, #1b67a8 100%);
  /* FF3.6-15 */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #014e8e), color-stop(100%, #1b67a8));
  /* Chrome4-9,Safari4-5 */
  background: -webkit-linear-gradient(top, #014e8e 0%, #1b67a8 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: -o-linear-gradient(top, #014e8e 0%, #1b67a8 100%);
  /* Opera 11.10-11.50 */
  background: -ms-linear-gradient(top, #014e8e 0%, #1b67a8 100%);
  /* IE10 preview */
  background: linear-gradient(to bottom, #014e8e 0%, #1b67a8 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.production-slider .bx-controls a:active {
  box-shadow: none;
}

.production-slider .bx-controls a:before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -4px;
  margin-top: -8px;
}

.production-slider .bx-controls a.bx-prev {
  left: 25px;
}

.production-slider .bx-controls a.bx-prev:before {
  content: url("../img/icons/arr-white-left.png");
  margin-left: -6px;
}

.production-slider .bx-controls a.bx-next {
  right: 25px;
}

.production-slider .bx-controls a.bx-next:before {
  content: url("../img/icons/arr-white-right.png");
}

.yarn {
  position: relative;
  color: #646464;
  font-size: 15px;
  line-height: 23px;
  margin-bottom: 40px;
}

.yarn img {
  max-width: 100%;
  border-radius: 3px;
  margin-bottom: 30px;
}

/*--mobile--*/
.product-block {
  display: block;
}

.product-left {
  display: block;
  width: 300px;
  margin: 0 auto 40px;
}

.product-big-img {
  height: 356px;
}

.product-right {
  display: block;
  padding: 0;
}

.additionally-tabs .tabs-box {
  display: block;
  width: auto;
  padding-left: 0;
}

.additionally-box {
  padding: 15px 20px;
}

.scheme-box {
  display: table;
  width: 100%;
  text-align: left;
}

.scheme-head {
  display: table-cell;
  vertical-align: top;
  width: 90px;
}

.scheme-img {
  margin-bottom: 0;
}

.scheme-body {
  display: table-cell;
  vertical-align: top;
  padding: 0;
  padding-left: 15px;
}

.scheme-num {
  margin-right: 5px;
}

.table-wrap {
  padding-bottom: 10px;
  overflow-x: scroll;
}

.news-head {
  display: block;
  width: auto;
  height: 265px;
}

.news-head img {
  width: 100%;
}

.news-body {
  display: block;
  padding: 20px 5px;
}

.about-img {
  float: none;
  width: auto;
  max-width: 440px;
  margin: 0 auto 25px;
}
