// Normally mainpage styles
// You can read about usage in https://github.com/paranoida/sass-mediaqueries 

//styles for custom device width
@include mq($max-width: 1200px) {
  .container{
  	width: auto;
  	padding-left: 5px;
  	padding-right: 5px;
  }
  	.product_block{
  		width: 29%;
  		img{
  			max-width: 100%;
  		}
  	}
  	.tags_block{
  		background-size: 100% 100%;
   	 	width: 45%;
   	 	p{
   	 		font-size: 13px;
   	 	}
  	}
  	.print strong{
  		height: auto;
  	}
  	.main_menu li{
  		padding: 0 13px;
  	}
  	.foot_left{
  		font-size: 15px;
  	}
}

@include mq($max-width: 1000px) {
	.foot_info address{
		float: none;
		width: 100%;
		text-align: center;
		clear: both;
		padding: 10px;
	}
}

@include mq($max-width: 850px) {
	.logo{
		text-align: center;
		float: none;
		padding-bottom: 20px;
	}
	.head_info{
		float: left;
	}
	.slider_wrap .bx-prev{
		left: 1%;
	}
	.slider_wrap .bx-next{
		right: 1%;
	}
	.main_menu li{
		font-size: 12px;
		&.sale{
			font-size: 12px;
		}
	}
	.sidebar{
		float: none;
		width: 100%;
		margin-bottom: 30px;
	}
	.content{
		padding-left: 0;
	}
	.blank{
		padding: 8px 0px 0px 0 !important; 
	}
}

@include mq($max-width: 769px) {
	.footer{
		.main_menu{
			display: none;
		}
	}
	.menu_trigger{
		display: block;
		text-align: center;
		font-size: 30px;
	}
	.main_menu {
		height: auto;
		ul{
			display: none;
		}
	}
		.main_menu li{
			font-size: 15px;
			display: block;
			border: none;
			a{
				border: none;
			}
			&.sale{
				font-size: 15px;
			}
		}
	.modal_form input{
		display: block;
		margin: 7px;
		width: 100%;
	}
	.bread{
		padding-bottom: 30px;
	}
	.contacts .order_wrap .order_block{
		iframe{
			width: 100% !important;
		}
	}
	.content_txt{
		img{
			max-width: 100%;
		}
	}
	.certifications {
		margin-left: 0;
		text-align: center;
		a{
		display: inline-block;
		float: none;
		margin-left: 3px;
		margin-right: 3px;
		}
	}
	.sert_wrap strong{
		text-align: center;
	}

	.content_txt{
		br{
			display: none;
		}
	}
}

@include mq($max-width: 650px) {
	.head_contacts, .head_info{
		float: none;
		text-align: center;
		margin: auto;
		padding-bottom: 20px;
	}
	.product_block{
		width: 44%;
	}
	.title{
		font-size: 20px;
	}
	.title span{
		padding: 0 85px;
		padding-top: 7px;
	}

	.order_wrap .order_tags{
		    column-count: 1;
		    column-gap: 0;
		br{
			display: none;
		}
	}
	.print{
		float: none;
		width: 100%;
		padding: 0 0 30px 0;
	}
	.foot_left{
		float: none;
		text-align: center;
		width: auto;
	}
	.slider_block section{
		width: 100%;
		height: auto;
		margin-top: 15%;
	}
	.catalog_filter label{
		display: block;
		text-align: center;
		float: none;
		margin-bottom: 10px;
		width: 100%;
		span{
			
		}
		&:last-child{
			text-align: center;
		}
	}
	.contacts_block dl{
		width: 100%;
		float: none;
		margin-bottom: 20px;
	}

	.content_txt .content_img.float_left, .content_txt .content_img.float_right{
		width: 100%;
		float: none;
	}
}

@include mq($max-width: 400px) { 
	.search input{
		margin-bottom: 10px;
	}
	.product_block{
		width: auto;
		display: block;
		margin: 0 0 40px 0;
	}
	.product_wrap{
		margin-left: 0;
	}
	.order_wrap .order_block{
		.title{
			span{
				padding: 0;
				&:before, &:after, br{
					display: none;
				}
			}
		}
	}
	.slider_block section {
		margin-top: 45%;
		h6, h5, strong{
			font-size: 27px;
		}
	}
	.order_wrap .order_tags li:before{
		display: block;
		margin: 5px auto;
		position: static;
	}
	.order_wrap .order_tags li{
		padding-left: 0;
	}
}
@include mq($max-width: 350px) {
	.title{
		span{
			padding: 0;
			&:before, &:after, br{
				display: none;
			}
		}
	}
}


@include mq($min-width: 1001px){
	.product_block{
  		width: 30%;
  		margin-left: 5%;
  		&:nth-child(3n+1){
  			margin-left: 0;
  		}
  	}
  	.tags_block{
  		width: 48%;
  		margin-left: 4%;
  		&:nth-child(2n+1){
  			margin-left: 0;
  		}
  	}
}
@include mq($min-width: 851px, $max-width: 1000px){
	.product_block{
  		width: 47%;
  		margin-left: 6%;
  		&:nth-child(2n+1){
  			margin-left: 0;
  		}
  	}
  	.tags_block{
  		width: 70%;
  		margin-left: 15%;
  	}
  	.production-slider .bx-controls a{
  		width: 45px;
  		height: 45px;
  		margin-top: -22px;
  	}
}
@include mq($min-width: 651px, $max-width: 850px){
	.product_block{
  		width: 32%;
  		margin-left: 2%;
  		&:nth-child(3n+1){
  			margin-left: 0;
  		}
  	}
  	.tags_block{
  		width: 48%;
  		margin-left: 4%;
  		&:nth-child(2n+1){
  			margin-left: 0;
  		}
  	}
  	.production-slider .bx-controls a{
  		width: 40px;
  		height: 40px;
  		margin-top: -20px;
  	}
}
@include mq($min-width: 401px, $max-width: 650px){
	.product_block{
  		width: 47%;
  		margin-left: 6%;
  		&:nth-child(2n+1){
  			margin-left: 0;
  		}
  	}
  	.tags_block{
  		width: 70%;
  		margin-left: 15%;
  	}
  	.production-slider .bx-controls a{
  		width: 35px;
  		height: 35px;
  		margin-top: -14px;
  	}
}
@include mq($max-width: 400px){
	.product_block{
  		width: 100%;
  		margin-bottom: 20px;
  	}
  	.tags_block{
  		width: 100%;
  	}
  	.production-slider .bx-controls a{
  		width: 30px;
  		height: 30px;
  		margin-top: -10px;
  	}
}